<html>
  <head>
    <title>
      新闻 - {{ title }}
    </title>
      {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'page.css' %}">
  </head>
  <body>
    <div class="nav">
    </div>

    <div class="header">
      <div class="h-p3 clearfix">
        <div class="h-news">
          <div class="h-title">
            {{ title }}
          </div>
          <div class="h-info">
            <span class="h-time">{{ time }}</span>
            <span class="source">来源：{{ source }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="part part1 clearfix" id="">
        <div class="p-right left">
          <div id="p-detail">
      			{% for text in text_list %}
      			<p>{{ text }}</p>
      			{% endfor %}
          </div>
          <div class="relate-news">
            <div class="column-name">推荐<span>新闻</span></div>
            <!-- <ul class="relate-news-wap">
              <li>
                <a href="http://www.xinhuanet.com/comments/2018-06/06/c_1122942383.htm" target="_blank">学生使用作业APP须培养自主管理能力</a>
                <div class="r-des"> 学生良好的上网、使用手机的习惯，一定要在使用中培养。 </div>
                <div class="r-in">	<span class="publish-time">3个月前</span>	<span class="r-dis"></span>	</div>
              </li>
              <li>
                <a href="http://www.xinhuanet.com/comments/2018-08/07/c_1123232239.htm" target="_blank">中小学假期作业不该催生“代写经济”</a>
                <div class="r-des"> 作业代写服务的产业化及持续火爆，透露出的浮躁学风固然需要整治，但其折射出学生课业负担的繁重，更是一个亟待破解的大问题。 </div>
                <div class="r-in">	<span class="publish-time">1个月前</span>	<span class="r-dis"></span>	</div>
              </li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
