<html>

  <head>
    <title>{{ title }} - 新闻</title></head>

  <body>{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'page.css' %}" />
    <div class="nav"></div>
    <div class="header">
      <div class="h-p3 clearfix">
        <div class="h-news">
          <div class="h-title">{{ title }}</div>
          <div class="h-info">
            <span class="h-time">{{ time }}</span>
            <span class="source">来源：{{ source }}</span></div>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="part part1 clearfix" id="">
        <div class="p-right left">
          <div id="p-detail">{% for item in text %}
            <p>{{ item }}</p>{% endfor %}</div>
          <div class="relate-news">
            <div class="column-name">推荐
              <span>新闻</span></div>
            <ul class="relate-news-wap">{% for item in relate %}
              <li>
                <a href="../news?p={{ item.id }}" target="_blank">{{ item.title }}</a>
                <div class="r-des">{{ item.preview|truncatechars_html:75 }}</div>
                <div class="r-in">
                  <span class="publish-time">{{ item.time }}</span>
                  <span class="r-dis"></span>
                </div>
              </li>{% endfor %}</ul>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>